{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Shipper Dashboard</h1>
<p>Welcome, {{ request.user.username }}!</p>

<h2>Orders Statistic</h2>
<ul>
    <li>Total orders: {{ total_orders }}</li>
    <li>Last orders:
        <ul>
            {% for order in recent_orders %}
                <li>{{ order }} — {{ order.created_at|date:"d.m.Y H:i" }}</li>
            {% empty %}
                <li>No orders found.</li>
            {% endfor %}
        </ul>
    </li>
</ul>

<p>
  <a href="{% url 'orders:cargo_order_create' %}" class="btn">Create New Order</a>
  <a href="{% url 'orders:cargo_item_create' %}" class="btn">Create Cargo Item</a>
</p>

<p><a href="{% url 'orders:virtual_warehouse' %}">View Virtual Warehouse</a></p>
{% endblock %}